/* Add a black background color to the top navigation */
#logo {
  position: absolute;
  top: 2px;
  left: 30px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.entername{
  z-index: 999;
  background-color: plum;
  padding:1%;
  border-radius: 2%;
  position: absolute;
  text-align: center;
  width:400px;
  height:150px;
  left: 50%;
  top:20%;
  transform: translate(-50%, -50%);
}

.entername button{
  margin-top: 2%;
}

.topnav {
  background-color: darkblue;
  overflow: hidden;
  margin-bottom: 3%;
  display: flex;
  padding: 14px 16px;  
  justify-content: flex-end; /* Change this property to flex-end */
  align-items: center; /* Add this property */
}

.background {
  background-image: url("pics/homepage_background.png");
  background-size: cover;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkorchid;
  color: white;
}

.textstyle {
  color: white;
  margin-bottom: 2%;
}

.top5score{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


.score-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.score-label span {
  margin-left: 10px; /* adjust this value to add space between label and score */
}


.scoreboard {
  position: absolute;
  left: 0; 
  background-image: url('pics/Scoreboard.gif');
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  padding-bottom: 150px;
  width: 25%; 
  height: 340px; 
  margin-left: 35px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}



.topfive{
  position: absolute;
  left: 0; 
  background-image: url('pics/topfive.gif');
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px;
  width: 25%; 
  height: 580px; 
  margin-left: 35px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 200px;
}


