

   .labels {
   font-variant: small-caps;
   color: white;
    text-shadow: 2px 2px purple;
    font-size: 20px;
    float: left;
   }

   h1{
    margin-top: auto;
    text-align: center;
    color: white;
   }
   
   .infobox, #spielbereich {
       background-color:  rgb(4, 0, 30);;
    border: 2px solid rgb(243, 255, 81);
    border-radius: 2%;
    border-style: outset;
    margin-left: 10px;
    float:left;
   }
   
   .karte{
       height:66px;
       width:66px;
       float:left;
       margin:2px;
   }
   
   #spielbereich {
       overflow: auto;
   }
   